<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-6">
    <%= image_tag(post.main_image.url, class: 'featurette-image img-rounded img-responsive') %>
  </div>
  <div class="col-md-6">
    <h2 class="featurette-heading"><%= post.subject %>. <span class="text-muted">Some caption</span></h2>
<% body = truncate(post.main_body, length: 200, separator: ' ') %>
    <p class="lead"><%= truncate(strip_tags(post.main_body), length: 200, separator: ' ') %></p>
  </div>
</div>
<hr class="featurette-divider">
