<div id="wrapper">
  <div id="columns">
    <% posts.each do |post| %>
      <div class="pin">                                                                                  
        <%= link_to(post) do %>
          <h4><b><%= post.subject %></b></h4>
          <%= image_tag(post.main_image.index_pin.url) %>
          <p>
            <%= truncate(strip_tags(post.caption), length: 200, seperator: ' ') %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
