<div class="container">
<ul class="list-group">
  <%= link_to root_path do %>
  <li class="list-group-item box_hover">Home</li>
<% end %>
  <%= link_to about_path do %>
  <li class="list-group-item">About</li>
<% end %>
  <li class="list-group-item">Archive</li>
  <%= link_to ask_me_path do %>
  <li class="list-group-item">Ask Me</li>
<% end %>
  <li class="list-group-item">Gallery</li>
</ul>

<div class="panel panel-default">
  <div class="panel-heading">Archive</div>
    <ul class="list-group">
      <li class="list-group-item">June</li>
      <li class="list-group-item">May</li>
      <li class="list-group-item">April</li>
      <li class="list-group-item">March</li>
      <li class="list-group-item">Febuary</li>
      <li class="list-group-item">January</li>
      <li class="list-group-item">2013</li>
    </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Articles by Others</div>
    <ul class="list-group">
      <li class="list-group-item">Dog Blog</li>
      <li class="list-group-item">Teaching Bite</li>
    </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Tags</h3>
  </div>
  <div class="panel-body">
    <button type="button" class="btn" style="margin: 4px">Training</button>
    <button type="button" class="btn" style="margin: 4px">Socialising</button>
    <button type="button" class="btn" style="margin: 4px">Food</button>
    <button type="button" class="btn" style="margin: 4px">Behaviour</button>
    <button type="button" class="btn" style="margin: 4px">Days Out</button>
  </div>
</div>
</div>
